#choices {
    -fx-font-size: 16px;
}

#fresh {

}

#apk {

}

#apkbtn1 {
    -fx-background-image: url('document.png');
}
#apkbtn2 {
    -fx-background-image: url('folder-open.png');
}

#jks {

}

#apkbtn1,#apkbtn2,#jksbtn{
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}

#jksbtn {
    -fx-background-image: url('document.png');
}

#jksname {

}

#jkspass {

}

#command {

}

#runcommand {

}

#decompile {

}

#compile {

}

#signer {

}

#unistall {

}

#install {

}

#textarea {

}

#clear {

}

#process {

}
